::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

body{
    background-color: #fffcf7;
    font-family: 'Lato';
    font-weight: 300;
    src: url('path-to-lato/Lato-Thin.ttf') format('truetype');
}

input{
    font-family: 'Lato';
    font-weight: 300;
    src: url('path-to-lato/Lato-Thin.ttf') format('truetype');
    width:100%;
    font-size: 25px;
    margin-bottom:0px;
    left:0px;
    right: 0px;
    background-color: #c46e28;
    border: none;
    color: #1e1e1e;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

input:focus {
    outline-width: 0;
}

.forslag{
    text-align: center;
    color:white;
    margin-bottom: 5px;
    font-size: 20px;
}

.forslag:hover{
    color:magenta;
    cursor: pointer;
}

.topic{
    margin-top: 10px;
}

.fade {
    opacity: 0;
    transition: opacity 1s;
  }
  .fade.show {
    opacity: 1;
    }

#logga{
    position: fixed;
    top: 0px;
    left: 0px;
}

#jobb_forslag{
    color:red;
}

#forslag_ruta {
    color: white;
    position: absolute;
    height: 30px;
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #d4813e;
    border-radius: 8px;
    transition: height 1s;
    overflow: hidden;
    opacity: 1;
    border:2px #c46e28 solid;
  }
  

#resultat{
    overflow-y: scroll;
    height: 100%;
}

#resultat::-webkit-scrollbar{
    display: none;
  }

#mes{
    display: none;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: red;
}

#info{
    display: none;
    /*height: 900px;*/
    width: 850px;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: #1e1e1e;
    font-size: 25px;
    background-color: #fffcf7;
    overflow: hidden;
    border-radius: 8px;
    transition: opacity 1s;
    border:2px #c46e28 solid;
}

#laddar{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #1e1e1e;
    left:0px;
    top: 0px;
    font-size: 30px;
    opacity: 0.8;
}

#laddar_img{
    display: none;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
}

#info_banner{
    width: 100%;
    text-align: center;
    background-color: #c46e28;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1e1e1e;
    margin-bottom: 5px;
}

#info_text{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#info_stang{
    border-top: #c46e28 solid 2px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #d4813e;
    text-align: center;
}

#sok_ams{
    border-top: #c46e28 solid 2px;
    cursor: pointer;
    background-color: #d4813e;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

#info_antal{
    color:#d4813e;
}

#jobb_forslag_placeholder{
    background-color: white;
    color:black;
    padding: 10px;
}